<table style="width:100%;text-align:center;font-size:16px;line-height:24px;">
    <tr>
        <td style="font-size:24px;line-height:36px;background:#375a7f;color:white;padding:2px 6px;">Welcome to Footy Assistant!</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align:left;">
            <span style="font-size:18px;">Hello, <strong>[[CLUB_OFFICIAL_FIRSTNAME]] [[CLUB_OFFICIAL_LASTNAME]]</strong>!</span><br /><br />
            Thank you for registering your club <strong>[[CLUB_NAME]]</strong> with Footy Assistant.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align:left;">
            Here is a password you'll need to log in to our system to manage your club details: <strong>[[CLUB_ACCOUNT_PASSWORD]]</strong><br />
            Please memorize it or store in a safe place. If you lose it, you won't be able to log in until you reset the password and a new one will be generated for you.<br />
            Once you log in for the first time, go to your account section and change password for a more friendly one.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>