<table>
    <tr>
        <td style="background:#444;color:#ddd;border-radius:5px;">
            <table style="width:100%;text-align:center;">
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        You have received this message, because you or someone in your behalf registered this email address with us. If you are not aware of it, you can simply ignore this message and no further actions will be performed against this email address. It will be removed from our database within next 24 hours, if the account is not activated.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>This email was sent to [[EMAIL_TO]].</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>The information in this email and any attachments must be kept confidential. If you are not the intended recipient, please let the sender know and then delete it. </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Please add <span style="color:white;">[[EMAIL_FROM]]</span> to your contacts, address or safe list to make sure you get our emails.</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&copy; Footy Assistant. All rights reserved.</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>