<table style="width:100%;text-align:center;font-size:16px;line-height:24px;">
    <tr>
        <td style="font-size:24px;line-height:36px;background:#375a7f;color:white;padding:2px 6px;border-radius:5px;">Hello from Footy Assistant!</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align:left;padding:24px;">
            <span style="font-size:18px;">Hello, <strong>[[ACCOUNT_FIRSTNAME]] [[ACCOUNT_LASTNAME]]</strong>!</span><br /><br />
            You or someone in your behalf have requested to reset your password for <strong>[[CLUB_NAME]]</strong> account with Footy Assistant.
        </td>
    </tr>
    <tr>
        <td style="text-align:left;padding:24px;">
            Here is a new password you'll need to log in to our system from now on to manage your account details: <strong>[[ACCOUNT_PASSWORD]]</strong><br />
            Please memorize it or store in a safe place. If you lose it, you won't be able to log in until you reset the password and a new one will be generated for you.<br />
            Once you log in for the first time with the new password, go to your account section and change password for a more friendly one.
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>